.container{
  background-image: url("images/akan.jpg");
  background-size: contain;
  color: 	#800000;
  padding:25px;
  border-radius:5px;
  font-size: 100%;
  background-color: burlywood;


}

.container h1{
   text-align: center;
   font-weight: bold;
}
